[package]
name = "openworkers-runner"
version = "0.2.0"
edition = "2021"
default-run = "openworkers-runner"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
actix-web = "4.12.0"
bytes = "1.11.0"
log = "0.4.28"
tokio = "1.43.0"
tokio-util = { version = "0.7", features = ["rt"] }
once_cell = "1.19"
env_logger = "0.11.6"
sqlx = { version = "0.8.6", features = [ "runtime-tokio", "postgres", "uuid", "bigdecimal", "rust_decimal" ] }
# openworkers-runtime ={ git = "https://github.com/openworkers/openworkers-runtime", tag = "v0.1.12"}
openworkers-runtime =  { path = "../openworkers-runtime", features = ["actix"] }
# openworkers_runtime =  { package = "openworkers-runtime-jscore", path = "../openworkers-runtime-jscore" }
async-nats = "0.45.0"
futures = "0.3"
serde_json = "1.0.137"
serde = { version = "1.0.197", features = ["derive"] }
dotenv = "0.15.0"
base64 = "0.22.1"
swc_common = "17.0.1"
swc_ecma_ast = "18.0.0"
swc_ecma_parser = "27.0.7"
swc_ecma_transforms_typescript = "33.0.0"
swc_ecma_transforms_base = "30.0.1"
swc_ecma_codegen = "20.0.2"
swc_ecma_visit = "18.0.1"

# https://doc.rust-lang.org/cargo/reference/profiles.html
# https://github.com/johnthagen/min-sized-rust?tab=readme-ov-file#minimizing-rust-binary-size
[profile.release]
strip = true  # Automatically strip symbols from the binary.
opt-level = "z"  # Optimize for size.
incremental = true # Enable incremental compilation.
codegen-units = 1 # Use a single codegen unit to optimize for size.
lto = true # Enable link-time optimization.

[[bin]]
name = "openworkers-runner"
path = "bin/main.rs"

[[bin]]
name = "snapshot"
path = "bin/snapshot.rs"
